@{
    ViewBag.Title = "The Keyboard Hub";
}

<div id="P1">
    <h1 class="text-center text-bold header-color">Welcome to the Mechanical Keyboard Hub.</h1>
    <div class="lead header-color"><p>Whether you are an administrative assistant typing memos all day, a medical professional working within an electronic health record, a computer programmer, software engineer, a gamer looking to improve your gaming experience, or simply someone who uses a computer on a frequent basis, we believe a mechanical keyboard can improve your overall computing experience. We believe this because mechanical switches last longer than the alternative “rubber dome” system, individual switches can be replaced if one goes bad, the variation in switches allow for customizing feel for each user, and the keys are believed to be more responsive for faster typists.</p>

<p>These difference are accounted for in how the switch below the key is made. Mechanical keyboards come with an individual switch under each key that completes a circuit upon key press to send a signal to the computer. A spring then pushes that key back into place when you release. A switch can come in different strengths (actuation force), with and without tactile feedback, and with and without audible clicks! Alternatively, with a “rubber dome” keyboard you have, under the keys, a rubber sheet covered in domes for each key that sit over a circuit board sitting even further down. Upon keystroke the rubber dome compresses activating the circuit board sending a signal back to the computer. The rubber dome then sends the key back up to the top readying for another keystroke. These domes wear out over time much more quickly than switches, do not give a tactile feedback to give your fingers an indication of actuation, and the spring back is not quite as strong or fast. You also cannot customize the actuation force to better meet your typing style.</p>

<p>Want to learn more? Then … </p></div>

    <div id="InnerP1" class="text-center">
        <p><button id="Button1" class="btn btn-primary btn-lg">Lets get clackin'</button></p>
    </div>
</div>
<div id="Spacer"></div>
<div id="P2">
   <div class="row grid-titles row-top">
        <div class="col-xs-2">
            <img id="Button2" class="gridbutton" src='@Url.Content("~/Content/Images/CroppedBigLogo.png")' />
        </div>
        <div class="col-xs-3 ">
            <p>Clicky</p>
        </div>
        <div class="col-xs-3">
            <p >Tactile</p>
        </div>
        <div class="col-xs-3">
            <p >Linear</p>
        </div>
    </div>
    <div class="row ">
        <div class= "col-xs-2 grid-titles sidelabels">
            <span class="left-text">Soft</span>
        </div>
        <div class="col-xs-3">
            <a id="BlueSwitch" href='@Url.Action("Index", "Switches", new { id = 1 })'>
                <img class="sepia" src='@Url.Content("~/Content/Images/blue.jpg")' />
            </a>
        </div>
        <div class="col-xs-3">
            <a id="BrownSwitch" href='@Url.Action("Index", "Switches", new { id = 2 })'>
                <img class="sepia" src='@Url.Content("~/Content/Images/brown.jpg")' />
            </a>
        </div>
        <div class="col-xs-3">
            <a id="RedSwitch" href='@Url.Action("Index", "Switches", new { id = 3 })'>
                <img class="sepia" src='@Url.Content("~/Content/Images/red.jpg")' />
            </a>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-2 grid-titles sidelabels">
            <span class="left-text">Moderate</span>
        </div>
        <div class="col-xs-3">
            <a id="GreenSwitch" href='@Url.Action("Index", "Switches", new { id = 4 })'>
                <img class="sepia" src='@Url.Content("~/Content/Images/green.jpg")' />
            </a>
        </div>
        <div class="col-xs-3">
            <a id="ClearSwitch" href='@Url.Action("Index", "Switches", new { id = 5 })'>
                <img class="sepia" src='@Url.Content("~/Content/Images/clear.jpg")' />
            </a>
        </div>
        <div class="col-xs-3">
            <a id="BlackSwitch" href='@Url.Action("Index", "Switches", new { id = 6 })'>
                <img class="sepia" src='@Url.Content("~/Content/Images/black.jpg")' />
            </a>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-2 grid-titles sidelabels">
            <span class="left-text">Stiff</span>
        </div>
        <div class="col-xs-3">
            <a id="WhiteSwitch" href='@Url.Action("Index", "Switches", new { id = 7 })'>
                <img class="sepia" src='@Url.Content("~/Content/Images/white.jpg")' />
            </a>
        </div>
        <div class="col-xs-3">
            <a id="TGreySwitch" href='@Url.Action("Index", "Switches", new { id = 8 })'>
                <img class="sepia" src='@Url.Content("~/Content/Images/tgrey.jpg")' />
            </a>
        </div>
        <div class="col-xs-3">
            <a id="LGreySwitch" href='@Url.Action("Index", "Switches", new { id = 9 })'>
                <img class="sepia" src='@Url.Content("~/Content/Images/lgrey.jpg")' />
            </a>
        </div>
    </div>
</div>
<audio id="Blue" preload="auto">
    <source src="~/Content/Sounds/blue bottom no oring.mp3">
    This browser does not support the HTML5 audio tag.
</audio>
<audio id="Brown" preload="auto">
    <source src="~/Content/Sounds/Brown bottom no oring.mp3">
    This browser does not support the HTML5 audio tag.
</audio>
<audio id="Red" preload="auto">
    <source src="~/Content/Sounds/red bottom no oring.mp3">
    This browser does not support the HTML5 audio tag.
</audio>
<audio id="Green" preload="auto">
    <source src="~/Content/Sounds/green bottom no oring.mp3">
    This browser does not support the HTML5 audio tag.
</audio>
<audio id="Clear" preload="auto">
    <source src="~/Content/Sounds/clear bottom no oring.mp3">
    This browser does not support the HTML5 audio tag.
</audio>
<audio id="Black" preload="auto">
    <source src="~/Content/Sounds/black bottom no oring.mp3">
    This browser does not support the HTML5 audio tag.
</audio>
<audio id="White" preload="auto">
    <source src="~/Content/Sounds/white bottom no oring.mp3">
    This browser does not support the HTML5 audio tag.
</audio>
<audio id="Tgrey" preload="auto">
    <source src="~/Content/Sounds/tgrey bottom no oring.mp3">
    This browser does not support the HTML5 audio tag.
</audio>
<audio id="Lgrey" preload="auto">
    <source src="~/Content/Sounds/lgrey bottom no oring.mp3">
    This browser does not support the HTML5 audio tag.
</audio>