@{
    ViewBag.Title = "The Keyboard Hub";
}

<div id="P1">
    <h1 class="text-center text-bold header-color">Welcome to the Keyboard Hub.</h1>
<<<<<<< HEAD
    <h3 class="lead text-center header-color">We aim to make the purchasing of your next mechanical keyboard easier on you.  Why choose a mechanical keyboard over your typical “rubber dome” keyboard? If you use your PC/laptop for any length of time for your job it can help you to type faster and more efficiently, also mechanical keyboards last longer.  If you’re a PC gamer they can make every key press that much faster and more responsive, a benefit in most any game you may play.</h3>
=======
    <h6>
        Why spend more money on a mechanical keyboard? As opposed to a membrane keyboard, mechanical boards have spring-loaded switches that can provide tactile and audible feedback
        when the keys are pressed. Keystrokes are more pronounced, and you as a user have a more comfortable typing experience. These keyboards can be purchased with different
        switches, which change how they keyboard feels and sounds, and are further 
    </h6>
    <h3 class="lead text-center header-color">We aim to make the purchasing of your next mechanical keyboard easier on you.</h3>
>>>>>>> refs/remotes/origin/Joginder
    <p></p>
    <div id="InnerP1" class="text-center">
        <p><button id="Button1" class="btn btn-primary btn-lg">Get Clackin'</button></p>
    </div>
</div>
<div id="Spacer"></div>
<div id="P2">
   <div class="row grid-titles row-top">
        <div class="col-xs-3">
            <img class="gridbutton" src='@Url.Content("~/Content/Images/CroppedBigLogo.png")' />
        </div>
        <div class="col-xs-3 ">
            <p>Clicky</p>
        </div>
        <div class="col-xs-3">
            <p >Tactile</p>
        </div>
        <div class="col-xs-3">
            <p >Linear</p>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-3 grid-titles sidelabels">
            <span class="left-text">Light</span>
        </div>
        <div class="col-xs-3">
            <a id="BlueSwitch" href='@Url.Action("Index", "Switches", new { id = 1 })'>
                <img class="sepia" src='@Url.Content("~/Content/Images/blue.jpg")' />
            </a>
        </div>
        <div class="col-xs-3">
            <a id="BrownSwitch" href='@Url.Action("Index", "Switches", new { id = 2 })'>
                <img class="sepia" src='@Url.Content("~/Content/Images/brown.jpg")' />
            </a>
        </div>
        <div class="col-xs-3">
            <a id="RedSwitch" href='@Url.Action("Index", "Switches", new { id = 3 })'>
                <img class="sepia" src='@Url.Content("~/Content/Images/red.jpg")' />
            </a>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-3 grid-titles sidelabels">
            <span class="left-text">Medium</span>
        </div>
        <div class="col-xs-3">
            <a id="GreenSwitch" href='@Url.Action("Index", "Switches", new { id = 4 })'>
                <img class="sepia" src='@Url.Content("~/Content/Images/green.jpg")' />
            </a>
        </div>
        <div class="col-xs-3">
            <a id="ClearSwitch" href='@Url.Action("Index", "Switches", new { id = 5 })'>
                <img class="sepia" src='@Url.Content("~/Content/Images/clear.jpg")' />
            </a>
        </div>
        <div class="col-xs-3">
            <a id="BlackSwitch" href='@Url.Action("Index", "Switches", new { id = 6 })'>
                <img class="sepia" src='@Url.Content("~/Content/Images/black.jpg")' />
            </a>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-3 grid-titles sidelabels">
            <span class="left-text">Heavy</span>
        </div>
        <div class="col-xs-3">
            <a id="WhiteSwitch" href='@Url.Action("Index", "Switches", new { id = 7 })'>
                <img class="sepia" src='@Url.Content("~/Content/Images/white.jpg")' />
            </a>
        </div>
        <div class="col-xs-3">
            <a id="TactileGreySwitch" href='@Url.Action("Index", "Switches", new { id = 8 })'>
                <img class="sepia" src='@Url.Content("~/Content/Images/tgrey.jpg")' />
            </a>
        </div>
        <div class="col-xs-3">
            <a id="LinearGreySwitch" href='@Url.Action("Index", "Switches", new { id = 9 })'>
                <img class="sepia" src='@Url.Content("~/Content/Images/lgrey.jpg")' />
            </a>
        </div>
    </div>
</div>