@{
    ViewBag.Title = "The Keyboard Hub";
}

<div id="P1">
    <h1 class="text-center text-bold header-color">Welcome to the Keyboard Hub.</h1>
    <h3 class="lead text-center header-color">We aim to make the purchasing of your next mechanical keyboard easier on you.</h3>
    <p></p>
    <div id="InnerP1" class="text-center">
        <p><button id="Button1" class="btn btn-primary btn-lg">Get Clackin'</button></p>
    </div>
</div>
<div id="Spacer"></div>
<div id="P2">
    <div class="row">
        <div class="col-xs-3">
            <a href='@Url.Action("Index", "Home")'>
                <img src='@Url.Content("~/Content/Images/Placeholder.png")' />
            </a>
        </div>
        <div class="col-xs-3 grid-titles">
            Clicky
        </div>
        <div class="col-xs-3 grid-titles">
            Tactile
        </div>
        <div class="col-xs-3 grid-titles">
            Linear
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 grid-titles">
            Light
        </div>
        <div class="col-xs-3">
            <a id="BlueSwitch" href='@Url.Action("Index", "Switches", new { id = 1 })'>
                <img src='@Url.Content("~/Content/Images/Placeholder.png")' />
            </a>
        </div>
        <div class="col-xs-3">
            <a id="BrownSwitch" href='@Url.Action("Index", "Switches", new { id = 2 })'>
                <img src='@Url.Content("~/Content/Images/Placeholder.png")' />
            </a>
        </div>
        <div class="col-xs-3">
            <a id="RedSwitch" href='@Url.Action("Index", "Switches", new { id = 3 })'>
                <img src='@Url.Content("~/Content/Images/Placeholder.png")' />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 grid-titles ">
            Medium
        </div>
        <div class="col-xs-3">
            <a id="GreenSwitch" href='@Url.Action("Index", "Switches", new { id = 4 })'>
                <img src='@Url.Content("~/Content/Images/Placeholder.png")' />
            </a>
        </div>
        <div class="col-xs-3">
            <a id="ClearSwitch" href='@Url.Action("Index", "Switches", new { id = 5 })'>
                <img src='@Url.Content("~/Content/Images/Placeholder.png")' />
            </a>
        </div>
        <div class="col-xs-3">
            <a id="BlackSwitch" href='@Url.Action("Index", "Switches", new { id = 6 })'>
                <img src='@Url.Content("~/Content/Images/Placeholder.png")' />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 grid-titles ">
            Heavy
        </div>
        <div class="col-xs-3">
            <a id="WhiteSwitch" href='@Url.Action("Index", "Switches", new { id = 7 })'>
                <img src='@Url.Content("~/Content/Images/Placeholder.png")' />
            </a>
        </div>
        <div class="col-xs-3">
            <a id="TactileGreySwitch" href='@Url.Action("Index", "Switches", new { id = 8 })'>
                <img src='@Url.Content("~/Content/Images/Placeholder.png")' />
            </a>
        </div>
        <div class="col-xs-3">
            <a id="LinearGreySwitch" href='@Url.Action("Index", "Switches", new { id = 9 })'>
                <img src='@Url.Content("~/Content/Images/Placeholder.png")' />
            </a>
        </div>
    </div>
</div>