@model KeyboardHub.Models.Switch

@{
    ViewBag.Title = "Cherry MX " + Model.Color;
}
@* TODO: WRITE JAVASCRIPT FOR HOVER NOISE
    WRITE JAVASCRIPT FOR HOVER ANIMATION
    FAVORITES UNDER GRID*@
<div>
    <div class="jumbotron"><h1 class="grid-titles">Cherry MX @Model.Color</h1></div>
    <h2 class="grid-titles">@Model.Description</h2>
</div>
<h3 class="grid-titles">Hover over the keys to hear how they sound when pressed!</h3>
<div id="switchtable">
    <div class="row">
        <div class="col-xs-3">
            <img src="~/Content/Images/Placeholder.png" class="img-circle img-responsive hover-bottom-out" />
            <div class="header-color">The @Model.Color switch will sound like this when the keys are bottomed out, or pressed all the way until the keycaps hit the bottom plate.</div>
        </div>
        <div class="col-xs-3">
            <img src="~/Content/Images/Placeholder.png" class="img-circle img-responsive hover-touch-type" />
            <div class="header-color">The @Model.Color switch will sound like this when the keys are touch-typed, or pressed only with as much force as needed to activate the key.</div>
        </div>
        <div class="col-xs-3">
            <img src="~/Content/Images/Placeholder.png" class="img-circle img-responsive hover-bottom-out-oring" />
            <div class="header-color">The @Model.Color switch will sound like this when the keys are bottomed out, but with an O-ring installed to dampen the noise.</div>
        </div>
        <div class="col-xs-3">
            <img src="~/Content/Images/Placeholder.png" class="img-circle img-responsive hover-touch-type-oring" />
            <div class="header-color">The @Model.Color switch will sound like this when the keys are touch-typed, and with an O-ring installed to dampen the noise.</div>
        </div>
    </div>
</div>